/*
  Custom CSS
*/
/*
  Use the body padding-top below 
  Only if you decide to have your
  top navigation fixed-top 
*/
body { padding-top: 90px; }
.navbar-header{
    label{
        font-size: 25px;
        margin-top: 10px;
        margin-left: -22px;
    }
}
.login-form-container{
  background-color: #115c80!important;
  .form-control{
    border:none!important;
    background-color: #115c80!important;
  }
  input[type="button"].login-submit,
  input.login-submit{
    width: 100!important;
    position: absolute!important;
    bottom: 0!important;
    left: 0!important;
    background-color: #546e78!important;
    border-width: 0px!important;
    border-style: none!important;
    border-color: none!important;
    outline: none!important;
    &:hover{
      background-color: #546e68!important;
    }
  }

}
.navbar-fixed-top{
  background-color: #fafafa;
  border-bottom:transparent!important;
  .top-header-navigation{
    background-color: #083d8c;
    a{
      color: #fafafa;
      text-decoration: none;
      cursor: pointer;
      &:hover{
        color:#8BF1EF;
      }
    }
  }
  .nav.navbar-nav.navbar-right{
    a,dropdown-toggle:nth-child(1){
      background-color: transparent!important;
      color:#29579b!important;
    }
    a,img, label{
      margin-right: 25px;
      font-size: 15px!important;
      font-weight: bold!important;
      text-indent: 15px!important;
      &:hover{
        color:#8BF1EF!important;
      }
    }
    a.pool-finder{
      border: 2px solid!important;
      padding-top: 12px!important;
      padding-right: 15px!important;
      padding-left: 25px!important;
      i{
        position: absolute;
        left: 5px!important;
        top: 20px!important;
        font-size: 20px!important;
        margin-top: -10px!important;
      }
    }

    
    ul.dropdown-menu li{
      a{
        background-color: #fff;
        color:#115c80;
        &:hover{
          color:#8BF1EF!important;
        }
      }
        
    }
  }

}

#left-nav{
    min-width: 200px;
    background-color: red;
    float: left;
}


/*
  Sidebar
*/

.sidebar-head{
  background-color: #546e78;
}


/*
  Atomic Styles
*/

/*
  Content
*/
.main-content{
  background-color: #fff;
}


/*
  Width
*/
.full-w{
  width: 100%!important;
  max-width: 100%!important;
}

/*
  Font
*/
.font-white{
  color:#fafafa;
}
.font-12{
  font-size: 12px;
}
.font-13{
  font-size: 13px;
}
.font-14{
  font-size: 14px;
}
.font-16{
  font-size: 10px;
}
.font-18{
  font-size: 18px;
} 
.font-20{
  font-size: 20px;
} 
.font-22{
  font-size: 22px;
}
.font-25{
  font-size: 25px;
} 

.font-b{
  font-weight: normal;
}
.font-n{
  font-weight: bold;
}


/*
  Button
*/
.btn-info{
  background-color: #546e78!important;
}



/*
  Padding
*/


.pad-0{
  padding: 0!important;
}
.pad-10{
  padding: 10px!important;
}
.pad-15{
  padding: 15px!important;
}
.pad-20{
  padding: 20px!important;
}

.pad-y-0{
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}
.pad-y-5{
  padding-top: 5px!important;
  padding-bottom: 5px!important;
}
.pad-y-10{
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}
.pad-y-15{
  padding-top: 15px!important;
  padding-bottom: 15px!important;
}
.pad-y-20{
  padding-top: 20px!important;
  padding-bottom: 20px!important;
}
.pad-y-25{
  padding-top: 25px!important;
  padding-bottom: 25px!important;
}
.pad-x-0{
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.pad-x-5{
  padding-left: 5px!important;
  padding-right: 5px!important;
}
.pad-x-10{
  padding-left: 10px!important;
  padding-right: 10px!important;
}
.pad-x-15{
  padding-left: 15px!important;
  padding-right: 15px!important;
}
.pad-x-20{
  padding-left: 20px!important;
  padding-right: 20px!important;
}
.pad-x-25{
  padding-left: 25px!important;
  padding-right: 20px!important;
}
.pad-x-27{
  padding-left: 27px!important;
  padding-right: 27px!important;
}
.pad-x-30{
  padding-left: 30px!important;
  padding-right: 30px!important;
}
.pad-x-40{
  padding-left: 40px!important;
  padding-right: 40px!important;
}
.pad-x-50{
  padding-left: 50px!important;
  padding-right: 50px!important;
}
.pad-right-0{
  padding-right: 0!important;
}

.pad-left-0{
  padding-left: 0!important;
}
.pad-left-10{
  padding-left: 10px!important;
}
.pad-left-15{
  padding-left: 15px!important;
}
.pad-left-20{
  padding-left: 20px!important;
}
.pad-left-25{
  padding-left: 25px!important;
}
.pad-top-0{
  padding-top: 0px!important;
}

/*
  Border
*/
.border-bot-gray{
  border-bottom: 1px solid darkgray!important;
}
.border-rad-2{
  border-radius: 2px!important; 
}
.border-rad-5{
  border-radius: 5px!important; 
}
.border-rad-10{
  border-radius: 10px!important; 
}
.border-rad-50p{
  border-radius: 50%!important; 
}
.border-bot-hr-2{
  border-bottom:2px solid #e7e7e7!important;
  box-shadow: 0px 2px 0px gray;
}
/*
  Margin
*/
.mar-0{
  margin:0;
}
.mar-0-auto{
  margin:0 auto;
}
.mar-10{
  margin: 10px!important;
}
.mar-y-0{
  margin-top: 0px!important;
  margin-bottom: 0px!important;
}
.mar-y-5{
  margin-top: 5px!important;
  margin-bottom: 5px!important;
}
.mar-y-10{
  margin-top: 10px!important;
  margin-bottom: 10px!important;
}
.mar-y-15{
  margin-top: 15px!important;
  margin-bottom: 15px!important;
}
.mar-y-20{
  margin-top: 20px!important;
  margin-bottom: 20px!important;
}

.mar-x-0{
  margin-left: 0px!important;
  margin-right: 0px!important;
}
.mar-x-5{
  margin-left: 5px!important;
  margin-right: 5px!important;
}
.mar-x-10{
  padding-left: 10px!important;
  padding-right: 10px!important;
}
.mar-top-13{
    margin-top: 13px;
}
.mar-top-0{
  margin-top: 0px!important;
}
.mar-top-10{
  margin-top: 10px!important;
}
.mar-top-15{
  margin-top: 15px!important;
}
.margin-left-18{
    margin-left: -18px!important;
}
.mar-top-20{
  margin-top: 20px!important;
}
.mar-top-25{
  margin-top: 25px!important;
}
.mar-top-30{
  margin-top: 30px!important;
}
.mar-top-35{
  margin-top: 35px!important;
}
.mar-top-40{
  margin-top: 40px!important;
}
.mar-bot-0{
  margin-bottom: 0px!important;
}
.mar-bot-10{
  margin-bottom: 10px!important;
}
.mar-bot-15{
  margin-bottom: 15px!important;
}
.mar-bot-20{
  margin-bottom: 20px!important;
}
.mar-bot-25{
  margin-bottom: 25px!important;
}
.mar-bot-30{
  margin-bottom: 30px!important;
}
.mar-right-0{
  margin-right: 0px!important
}
.mar-right-5{
  margin-right: 5px!important
}
.mar-right-10{
  margin-right: 10px!important
}
.mar-right-15{
  margin-right: 15px!important
}
.mar-right-20{
  margin-right: 20px!important
}
.mar-right-25{
  margin-right: 25px!important
}
.mar-right-30{
  margin-right: 30px!important
}
.mar-right-35{
  margin-right: 35px!important
}
.mar-right-40{
  margin-right: 40px!important
}
.mar-right-45{
  margin-right: 45px!important
}
.mar-right-50{
  margin-right: 50px!important
}
.mar-right-55{
  margin-right: 55px!important
}
.mar-right-60{
  margin-right: 60px!important
}
.mar-right-75{
  margin-right: 75px!important
}
.mar-left-0{
  margin-left: 0px!important
}
.mar-left-5{
  margin-left: 5px!important
}
.mar-left-10{
  margin-left: 10px!important
}
.mar-left-15{
  margin-left: 15px!important
}
.mar-left-20{
  margin-left: 20px!important
}
.mar-left-25{
  margin-left: 25px!important
}
.mar-left-30{
  margin-left: 30px!important
}
.mar-left-35{
  margin-left: 35px!important
}
.mar-left-40{
  margin-left: 40px!important
}
.mar-left-45{
  margin-left: 45px!important
}
.mar-left-50{
  margin-left: 50px!important
}
.mar-left-60{
  margin-left: 60px!important
}
.mar-left-75{
  margin-left: 75px!important
}

.mar-neg-3{
  margin: -3px!important;
}
.mar-neg-5{
  margin: -5px!important;
}
.mar-neg-10{
  margin: -10px!important;
}
.mar-neg-left-10{
  margin-left: -10px!important;
}
.mar-neg-left-15{
  margin-left: -15px!important;
}
.mar-neg-left-20{
  margin-left: -20px!important;
}
.mar-neg-left-25{
  margin-left: -25px!important;
}
.mar-neg-right-15{
  margin-right: -15px!important;
}
.mar-neg-left-20{
  margin-left: -20px!important;
}
.mar-neg-right-25{
  margin-right: -25px!important;
}
.mar-neg-right-30{
  margin-right: -30px!important;
}
.mar-neg-top-5{
  margin-top: -5px!important;
}
.mar-neg-top-10{
  margin-top: -10px!important;
}
.mar-neg-top-50{
  margin-top: -50px!important;
}
.mar-neg-top-60{
  margin-top: -60px!important;
}


/*
  Position
*/
.p-rel{
  position: relative!important;
}
.p-ab{
  position: absolute!important;
}
.ab-side{
  position: absolute;
  top: 0px!important;
  bottom: 0px!important;
  left: 0px!important;
  right: 0px!important;
  min-height: 550px!important;
  /*background-color: red!important;*/
}

.ab-container-y-scroll{
  overflow-y: scroll!important;
  max-height: 500px!important;
  min-height: 500px!important;
}

.min-width-363{
  width: 363px!important;
}

/*
  Line Height
*/
.l-height-10{
  line-height: 10px!important;
}
.l-height-15{
  line-height: 15px!important;
}
.l-height-20{
  line-height: 20px!important;
}
.l-height-25{
  line-height: 25px!important;
}
.l-height-30{
  line-height: 30px!important;
}
.l-height-35{
  line-height: 35px!important;
}
.l-height-40{
  line-height: 40px!important;
}
/*
  Height
*/

.min-height-66{
  height: 66px!important;
}
.min-height-300{
  min-height: 300px!important;
}
.min-height-350{
  min-height: 350px!important;
}
.min-height-400{
  min-height: 400px!important;
}

.minh-60{
  min-height: 60px!important;
}
.minh-85{
  min-height: 85px!important;
}
.minh-90{
  min-height: 90px!important;
}
.minh-100{
  min-height: 100px!important;
}
.minh-125{
  min-height: 125px!important;
}
.minh-140{
  min-height: 140px!important;
}
.minh-300{
  min-height: 300px!important;
}
.minh-350{
  min-height: 350px!important;
}
.minh-400{
  min-height: 400px!important;
}
.minh-450{
  min-height: 450px!important;
}
.minh-500{
  min-height: 500px!important;
}
.minh-550{
  min-height: 550px!important;
}

.h-auto{
  height: auto!important;
}

/*
  Background
*/
.bg-blue-default{
  background-color: #115c80!important;
}
#filter-holder,
#filter-holder-2,{
      background-color: #fff;
      height: auto;
      margin-top: 10px;
}

#data{

}
#support{
  color: #fafafa;
  margin-top: 17px;
  cursor: pointer;
}
#conversation{
      background-color: #fafafa;
      height: auto;
      margin-top: 10px;
}
#lbl-conversation{
    /*float: left;*/
}
#comment-box{
      width: 600px;
      height: 65px;
}

#user-pic{
  height: 37px;
}
#time{
    margin-left: -53px;
    font-weight: normal;
}
textarea{
    resize: none! important;
}

/*
  Hover
*/
.ticket-list{
  cursor: pointer!important;
}

/*
  Display
*/
.d-block{
  display: block!important;
}

/* colors in labels */

.registration{
    background-color: yellow;
}
#day{
    margin-left: 15px;
    font-weight: normal;
}
#arrow{
    margin-top: 25px;
    cursor: pointer!important;
    float: right;
    margin-right: 20px;
}
#open-tickets{
    min-width: 100%!important;
}

ul{
  list-style-type:none!important;
}
.lbl-data{
/*float: left;*/
  float: left;
  font-weight: normal;
  margin-top: -5px!important;


}
.lbl-data2{
  float: left;
  font-weight: normal;
  margin-top: -5px!important;
}

.filter-bg{
  background-image: url('../images/filter.jpg');
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: 0% 5%; 
}
.filter-controls{
  background-color: #F6F6F6!important;
  
  .filter-selection-opt{
    display: inline-flex;
    align-items: flex-end;
  }

  .filter-selection{
    font-weight: normal;

    input[type="checkbox"]{
      -webkit-appearance: button;
      width: 19px;
      height: 19px;
      background-color: #fff;
      border:1px solid #000;
      margin-right: 2px;
      border-radius: 4px!important;
      &:checked{
        background: #fafafa;
        background-color: azure;
        border: 6px solid #29579b;
        border-radius: 6px!important;
      }
    }
  }
}

/*
  Filter Results
*/
.filter-result-container{

  .filter-result{
    
    margin-right: 0px;

  }
  .filter-result:nth-child(2n) {
    padding-right: 0px!important;
    padding-left: 0px!important;
  }

  .filter-result:nth-child(3n) {
    padding-right: 0px!important;
    padding-left: 15px!important;
  }

  .filter-result:nth-child(4n) {
    padding-right: 15px!important;
    padding-left: 0px!important;
  }

  .filter-result:nth-child(5n) {
    padding-right: 0px!important;
    padding-left: 0px!important;
  }

  .filter-result-content{
    border-top:1px solid #e7e7e7;
    /*border-bottom:2px solid #e7e7e7;*/
    border-left:2px solid #e7e7e7;
    border-right:2px solid #e7e7e7;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 2px 0px 2px lightgrey;

    .filter-result-head{
      font-size: 30px;
      border-bottom:2px solid #e7e7e7;
      label{
        font-weight: normal;
      }
    }
  .filter-result-contact{
    .contact-label{
      color: #000;
      font-size: 24px;
      font-weight: bold;

      .phone-wrap{
        background-color: blue;
        color: #fafafa;
        border-radius: 50%;
        margin-right: 5px;
        padding-top: 0px;
        padding-bottom: 2px;
        padding-left: 10px;
        padding-right: 3px;
        padding: 0px 3px 2px 8px;
        margin-right: 20px;
        
        .icon.fa-phone{
            font-size: 17px;
            margin: 0 auto;
            text-align: center;
            vertical-align: middle;
          }
        }
      }
    }

    .filter-result-contact-top-label{
      p{
        font-size: 11px;
        font-style: italic;
        font-weight: normal;
        font-family: sans-serif;
      }
    }

    .filter-result-business-hours{

    }




  }

  .filter-result-categories{
    background-color: #fafafa !important;
    border-top: 0px;
    border-bottom:2px solid #e7e7e7;
    border-left:2px solid #e7e7e7;
    border-right:2px solid #e7e7e7;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 2px 2px 2px lightgrey;
    .span-ct{
      color: gray!important;
      
      i{
        color: gray;
      }

      &:hover{
        cursor: pointer;
        color: #083d8c !important;
        i{
          color: #083d8c !important; 
        }
      }

    }
  }
}

.box-anchor{
      border: 2px solid!important;
      padding-top: 12px!important;
      padding-bottom: 12px!important;
      padding-right: 15px!important;
      padding-left: 25px!important;
      &:hover{
        text-decoration:none!important;
        color:#8BF1EF !important;
      }
      i{
        font-size: 20px!important;
        margin-right: 12px!important
      }
}


