<div class="col-md-12 pad-0" >
                <div class="row " >
                  <div class="top-filter col-md-12 text-center mar-right-0 pad-right-0  pady-0">
                    <div class="col-md-12 pad-10 mar-top-5 pad-x-0 pad-y-0 mar-y-0 pady-0">
                      <!-- <div class="col-md-10  col-md-offset-1 pad-10 mar-top-0 filter-result-container pad-x-0">



                      </div> -->
                      <div class="col-md-12 pad-0 footer-top pad-y-30">
                          <div class="col-md-12 text-center pad-y-10 pad-top-20">
                            <img src="../../images/footer-logo.png">
                          </div>
                          <div class="col-md-12 text-center pad-y-10 pad-top-0">
                            <label>
                              Connect with us
                            </label>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                          </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              

              <div class="col-md-12 pad-0 mar-top-0" id="footer-bot" >
                <div class="row " >
                  <div class="top-filter col-md-12 text-center mar-right-0 pad-right-0  pady-0">
                    <div class="col-md-12 pad-10 mar-top-0 pad-x-0 pad-y-0 mar-y-0 pady-0 footer-bot-container">

                       <div class="col-md-12 pad-0 footer-bot pad-y-0 visible-xs">

                          <div class="col-md-12 text-center pad-y-10 fa-white" >
      
                              <a href="#" class="mar-right-20 font-white" >
                                Dealers and Distributors
                              </a>
                              <a href="#" class="mar-right-0 font-white" >
                                Commercial Service
                                <i class="fa fa-sign-out" aria-hidden="true"></i>           
                              </a>
                            
                          </div>
                        </div>

                        <div class="col-md-12 pad-0 footer-bot pad-y-0">
                          <div class="col-md-12 text-center pad-y-10 fa-white">
                           <!--  <img src="../../images/footer-logo.png"> -->
                            
                              
                            
                            <label id="copyright" class="pad-x-10">
                              &copy; 2017 Pool Pages
                            </label>
                            |
                            <a href="#" class="privacy-policy pad-x-10 ">
                              Privacy Policy
                            </a>
                            |
                            <a href="#" class="terms-condition pad-x-10 ">
                              Term and Conditions
                            </a>
                          </div>
                          <!-- <div class="col-md-12 text-center pad-y-10">
                            <label>
                              Connect with us
                            </label>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                          </div> -->
                      </div>

                    </div>
                  </div>
                </div>
              </div>