<nav class="navbar navbar-default navbar-fixed-top border-bot-hr-2" >
	  <div class="container-fluid text-right top-header-navigation pad-y-10 pad-x-50 hidden-sm">
      
        <a href="#" class="mar-right-35">
          Dealers and Distributors
        </a>
        <a href="#" class="mar-right-60">
          Commercial Service
          <i class="fa fa-sign-out" aria-hidden="true"></i>           
        </a>
      
    </div>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        
        <a class="mar-left-60 mar-right-50 pad-x-40" href="/">
          <img class="mar-top-25 mar-bot-25" src="../../images/logo.png">
        </a>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <ul class="nav navbar-nav navbar-right mar-top-15 mar-right-55 pad-x-40 hidden-sm hidden-xs">
          <li>
            <a href="#">Polls & Spas</a> 
          </li>
          <li>
            <a href="#">Supplies</a>            
          </li>
          <li>
            <a href="#">Resources</a>            
          </li>
          <li >
            <a  href="#">Service</a>            
          </li>
          <li class="mar-left-10 ">
            <a href="#" class="mar-right-0 pool-finder">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              Find a Pool Pro
            </a>
          </li>
      </ul>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <img ng-src="{{userLogged.image}}" class="img-circle" id="user-pic">
              <label>{{ userLogged.name }}</label><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">
                  <span class="glyphicon glyphicon-plus"></span> Account
                </a>
              </li>
              <li role="separator" class="divider"></li>
              <li id="logout">
                <a href="#" ng-click="logout()">
                  <span class="glyphicon glyphicon-log-out"></span> Logout
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div> -->
      <!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>